server:
  port: 8081
spring:
  application:
    name: restaurant-service
  datasource:
    url: jdbc:postgresql://localhost:5431/restaurant_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration